.gradient-custom {
    /* fallback for old browsers */
    background: #169c6f;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }

  h1.ce-header{
    @apply text-3xl font-bold
  }
  h2.ce-header{
    @apply text-2xl font-semibold
  }
  h3.ce-header{
    @apply text-xl font-semibold
  }
  h4.ce-header{
    @apply text-lg font-semibold
  }
  h5.ce-header{
    @apply text-base font-semibold
  }
  h6.ce-header{
    @apply text-base font-semibold
  }